.footer{
    background-image: url('../../assets/images/Rectangle 18.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footerImg{
    background-image: url('../../assets/images/more/8.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}